<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
      <add key="Vueling" value="https://nuget.vueling.com/nuget/" />
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
      <add key="AirlineTransversalComponents" value="https://vueling.pkgs.visualstudio.com/_packaging/AirlineTransversalComponents/nuget/v3/index.json" />
    <add key="vy-nuget" value="https://vueling.pkgs.visualstudio.com/_packaging/vy-nuget/nuget/v3/index.json" />
    <add key="vy-nuget-old" value="https://vueling.pkgs.visualstudio.com/_packaging/vy-nuget-old/nuget/v3/index.json" />
  </packageSources>
</configuration>