<p>
    Sorry, an error occurred while processing your request.
</p>
<p class="paragraphError">
    @if (ViewBag != null && !string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        @ViewBag.ErrorMessage
    }
</p>