<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- File/HTTP/HTTPS -->
    <add key="httpsConfigurationPrividerCertificateStoreLocation" value="2" />
    <add key="configurationSynchronizationIntervalInSeconds" value="60" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="51200" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ApplicationServer.Caching.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="VuelingAuthorization">
      <providers>
        <clear />
        <add name="VuelingAuthorization" type="Vueling.Web.Library.Security.VuelingAuthorizationRolesProvider, Vueling.Web.Library" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
    <!--begin comment for no sso-->
    <!-- Indica que se debe utilizar autenticación Forms. Esto es imprescindible para que el SSO funcione -->
    <authentication mode="Forms" />
    <!-- Niega el acceso a los usuarios anónimos, lo que garantiza que se soliciten credenciales a todos los usuarios que intenten acceder al contenido protegido -->
    <authorization>
      <deny users="?" />
    </authorization>
    <!-- Añade el módulo y el handler necesarios para que funcione el SSO -->
    <httpModules>
      <add name="ClientSSOHttpModule" type="Vueling.Web.Library.SSO.ClientSSOHttpModule, Vueling.Web.Library" />
    </httpModules>
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
      <add path="SSO.ashx" verb="*" type="Vueling.Web.Library.SSO.ClientSSOHandler, Vueling.Web.Library" />
    </httpHandlers>
    <!--end comment for no sso-->
  </system.web>
  <!--begin comment for no sso-->
  <location path="SSO">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--end comment for no sso-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ClientSSOHttpModule" type="Vueling.Web.Library.SSO.ClientSSOHttpModule, Vueling.Web.Library" preCondition="integratedMode" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
      <add name="ClientSSOHandler" path="SSO.ashx" verb="*" type="Vueling.Web.Library.SSO.ClientSSOHandler, Vueling.Web.Library" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Mvc" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vueling.Threading.Library" publicKeyToken="64469f821e1d1c06" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.1" newVersion="1.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vueling.Messaging.Library" publicKeyToken="64469f821e1d1c06" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.1" newVersion="1.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vueling.Configuration.Library" publicKeyToken="64469f821e1d1c06" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.1" newVersion="1.3.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="Log4netTraceListener" type="Vueling.XXX.WebUI.Helpers.Log4netTraceListener, Vueling.XXX.WebUI" />
      </listeners>
    </trace>
  </system.diagnostics>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>