<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.10.5260.16959" targetFramework="net45" />
  <package id="AWSSDK.CodeDeploy" version="3.3.1.6" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.3.7" targetFramework="net45" />
  <package id="AWSSDK.EC2" version="3.3.4.3" targetFramework="net45" />
  <package id="AWSSDK.ElasticBeanstalk" version="3.3.2.3" targetFramework="net45" />
  <package id="AWSSDK.ElasticLoadBalancing" version="3.3.0.6" targetFramework="net45" />
  <package id="AWSSDK.RDS" version="3.3.3.1" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.5.2" targetFramework="net45" />
  <package id="fasterflect" version="2.0.1" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Dac" version="1.0.3" targetFramework="net45" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.4" targetFramework="net45" />
  <package id="Vueling.Build.Contracts.ServiceLibrary" version="4.0.1.0" targetFramework="net45" />
  <package id="Vueling.Build.DB.Infrastructure" version="4.0.3.0" targetFramework="net45" />
  <package id="Vueling.Build.Deploy.AWS.Contracts.ServiceLibrary" version="1.0.1.0" targetFramework="net45" />
  <package id="Vueling.Build.Deploy.AWS.Impl.ServiceLibrary" version="1.0.1.6" targetFramework="net45" />
  <package id="Vueling.Build.Deploy.AzurePlataform.Contracts.ServiceLibrary" version="1.0.0.1" targetFramework="net45" />
  <package id="Vueling.Build.Deploy.AzurePlataform.Impl.ServiceLibrary" version="1.0.0.0" targetFramework="net45" />
  <package id="Vueling.Build.Deploy.Config.DTO" version="1.0.1.6" targetFramework="net45" />
  <package id="Vueling.Build.Deploy.Proxy.Contracts.ServiceLibrary" version="2.0.0.0" targetFramework="net45" />
  <package id="Vueling.Build.Deploy.Proxy.Impl.ServiceLibrary" version="2.0.0.0" targetFramework="net45" />
  <package id="Vueling.Build.Impl.ServiceLibrary" version="4.0.4.0" targetFramework="net45" />
  <package id="Vueling.Extensions.Library" version="1.0.1" targetFramework="net45" />
  <package id="Vueling.Messaging.RabbitMqSecurity.Library" version="1.0.0.6" targetFramework="net45" />
  <package id="Vueling.NugetManager.ServiceLibrary" version="1.0.0.0" targetFramework="net45" />
  <package id="Vueling.ToolChain.Configuration.Contracts.ServiceLibrary" version="1.0.1.1" targetFramework="net45" />
  <package id="Vueling.ToolChain.Configuration.Impl.ServiceLibrary" version="1.0.1.3" targetFramework="net45" />
  <package id="WinSCP" version="5.7.6" targetFramework="net45" />
</packages>