<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="c:\logs\mylogfile.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date*[%thread]*%level %logger - %message%newline" />
      </layout>
    </appender>
  <appender name="AWS" type="ATC.Log.log4netappender.AWS.Logger.Log4net.AWSAppender,ATC.Log.log4netappender.Logger.Log4net">

    <LogGroup>Log4net.ConfigExample</LogGroup>
    <Region>eu-west-1</Region>
    
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate*%-5level*%logger*%message%newline" />
    </layout>
   
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="AWS" />
    <appender-ref ref="FileAppender" />
  </root>
</log4net>
</configuration>
