<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="3.0.0" targetFramework="net40" />
  <package id="Autofac.Wcf" version="2.7.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net40" requireReinstallation="true" />
  <package id="fasterflect" version="2.0.1" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Microsoft.ApplicationServer.Caching" version="1.1.0" targetFramework="net40" />
  <package id="MinimalTelerikMvcExtensions" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="RabbitMQ.Client" version="3.5.4" targetFramework="net40" />
  <package id="Vueling.Authorization.Library" version="1.0.1.1" targetFramework="net40" />
  <package id="Vueling.Configuration.Library" version="1.3.0.1" targetFramework="net40" />
  <package id="Vueling.DBAccess.Contracts.ServiceLibrary" version="1.0.0.2" targetFramework="net40" />
  <package id="Vueling.DBAccess.EF.DB.Infrastructure" version="1.0.0.3" targetFramework="net40" />
  <package id="Vueling.DIRegister.AssemblyDiscovery.ServiceLibrary" version="7.0.0.0" targetFramework="net40" />
  <package id="Vueling.DIRegister.Autofac.ServiceLibrary" version="4.0.1.0" targetFramework="net40" />
  <package id="Vueling.DIRegister.WebService.ServiceLibrary" version="7.0.0.0" targetFramework="net40" />
  <package id="Vueling.DIRegister.WebUI.ServiceLibrary" version="7.0.0.0" targetFramework="net40" />
  <package id="Vueling.Extensions.Library" version="1.0.1" targetFramework="net40" />
  <package id="Vueling.Logging.Message" version="1.0.0.0" targetFramework="net40" />
  <package id="Vueling.Logging.RabbitMqAppender.Library" version="1.1.0.0" targetFramework="net40" />
  <package id="Vueling.Maestros.Contracts.ServiceLibrary" version="1.3.0.2" targetFramework="net40" />
  <package id="Vueling.Maestros.Settings.Contracts.ServiceLibrary" version="2.0.0.1" targetFramework="net40" />
  <package id="Vueling.Maestros.Settings.Impl.ServiceLibrary" version="1.0.3.0" targetFramework="net40" />
  <package id="Vueling.Maestros.Settings.Routes.Contracts.ServiceLibrary" version="1.0.0.0" targetFramework="net40" />
  <package id="Vueling.Maestros.Settings.Routes.DB.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Vueling.Maestros.Settings.Routes.Impl.ServiceLibrary" version="1.0.4.0" targetFramework="net40" />
  <package id="Vueling.Messaging.Message" version="1.0.0.6" targetFramework="net40" />
  <package id="Vueling.Web.Library" version="8.0.0.0" targetFramework="net40" />
  <package id="Vueling.Web.UI.Library" version="3.0.0.0" targetFramework="net40" />
</packages>