<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AircraftDbEntities" connectionString="metadata=res://*/Repositories.AircraftRepository.AircraftDataModel.csdl|res://*/Repositories.AircraftRepository.AircraftDataModel.ssdl|res://*/Repositories.AircraftRepository.AircraftDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DAVID-PC;initial catalog=Vueling_XXX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="FleetDbEntities" connectionString="metadata=res://*/Repositories.FleetRepository.FleetDataModel.csdl|res://*/Repositories.FleetRepository.FleetDataModel.ssdl|res://*/Repositories.FleetRepository.FleetDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DAVID-PC;initial catalog=Vueling_XXX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
